.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-image: url(/dystopianWorld.jpg);
  /* background-repeat: no-repeat; */
  background-position-x: center;
  background-size: cover;
  box-sizing: border-box;
}

.main .head {
  padding: 15px 0px;
  border-radius: 10px;
  width: 100%;
  color: whitesmoke;
  font-size: 24px;
  /* box-shadow: 4px 3px whitesmoke; */
}

.main .headTop {
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-start;
  flex-direction: row;
}

.main .headTop > div {
  background-image: url(/squares.webp);
  flex-direction: row;
  display: flex;
  margin: 10px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 3px 4px rgb(66,66,66, 1.0);
}

.main .headTop > div > div {
  margin: 10px;
}

.main .head .statement {
  text-align: center;
  font-size: 32px;
  margin: 40px 10px 10px 20px;
  color: #8828a9;
  /* background-image: url(/squares.webp); */
}

.main .headTop .avatar {
  min-width: 75px;
  min-height: 75px;
  /* min-width: 100px;
  min-height: 100px; */
  border: 1px solid black;
  /* box-shadow: 2px -1px rgb(66,66,66, 1.0); */
  border-radius: 10px;
  border-radius: 50%;
}

.main .headTop .info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 0px 20px;
  margin-left: 10px;
  border-left: 2px solid whitesmoke;
}

.main .body {
  margin-top: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-left: 20px;
}

.main .mainContent {
  width: 75%;
  min-height: 100%;
  /* background-color: whitesmoke; */
  /* border: 1px solid #8828a9; */
  border-radius: 10px;
  /* box-shadow: 4px 3px whitesmoke; */
  background-color: rgb(255,255,255, 0.85);
  border: 1px solid black;
}

.main .summary {
  padding: 0px 10px;
  margin: 10px 10px;
  color:#8828a9;
  border-left: 2px solid #8828a9;
  border-right: 2px solid #8828a9;
  font-size: 20px;
  text-align: center;
  order: 2;
}

.main .instruction {
  background-color: palegoldenrod;
  color: rgb(0,0,0, 0.6);
  border-top: 1px solid goldenrod;
  border-bottom: 1px solid goldenrod;
  text-align: center;
  order: 2;
  margin: 10px 10px;
  font-size: 20px;
  font-weight: 600;
}

.summary b {
  font-weight: 900;
}

.main .divider {
  margin: 0px 10px;
}

.divider::before, .divider::after {
  border-color: #7a218f;
}

.main .dividerChip {
  background-color: unset;
  color: #8828a9;
  font-weight: 500;
  font-size: 20px;
  font-style: italic;
}

.main .skillsSection {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.main .skills {
  flex-direction: row;
  order: 1
}

.main .skill {
  font-size: 18px;
  margin: 10px;
  border: 1px solid black;
  background-color: rgb(0,0,0, 0.15);
}

.main .skills .skill:hover {
  cursor: pointer;
  border: 2px solid black;
}

.skills .active {
  background-image: url(/squares.webp);
  border: 1px solid white;
  color: white;
  box-shadow: 3px 4px grey;
}

.main .inactive:hover {
  background-color: lightsteelblue;
}

.main .clientHeader {
  background-image: url(/squares.webp);
  color: whitesmoke;
  padding: 10px 5px;
  font-style: italic;
  border-radius: 9px 9px 0px 0px;
  font-size: 20px;
  text-align: center;
}

.main .clientList {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main .clientName {
  text-align: center;
  color: #8828a9;
  font-size: 28px;
  padding: 10px;
}

.main .activeClientName {
  text-align: center;
  color: whitesmoke;
  font-size: 28px;
  background-image: url(/squares.webp);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 3px 4px grey;
}

.main .sideContent {
  width: 23%;
  min-height: 100%;
  background-color: whitesmoke;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 3px 4px rgb(66,66,66, 1.0);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main .tagLine {
  color: whitesmoke;
  font-size:32px;
  background-image: url(/cushion.webp);
  width: 100%;
  margin: 40px 0px 0px 20px;
  bottom: 0;
  border-radius: 15px;
  text-align: center;
  padding: 10px 0px;
  box-shadow: 3px 4px rgb(66,66,66, 1.0);
  border: 1px solid black;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  /* .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  } */
}

@media (prefers-reduced-motion) {
  /* .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  } */
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .main {
    padding: 2rem;
    background-size: 100%;
  }

  .main .headTop {
    /* padding: 1.5rem; */
    font-size: unset;
    align-items: stretch;
  }

  .main .info {
    font-size: unset;
    align-items: stretch;
    font-size: 18px;
  }

  .main .statement {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
  }

  .main .body {
    flex-direction: column;
  }

  .main .mainContent {
    order: 2;
    width: 100%;
    margin-top: 20px;
  }

  .main .sideContent {
    order: 1;
    width: 100%;
    margin-top: 10px;
  }

  .main .clientList {
    flex-direction: row;
    flex-flow: wrap;
    margin: 5px 0px;
  }

  .main .clientName, .main .activeClientName {
    width: 33%;
    padding: 10px 10px;
    font-size: 24px;
    margin: 0px 5px 5px 5px;
  }

  .main .skills {
    order: 2;
  }

  .main .summary {
    order: 1;
  }

  .main .instruction {
    order: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }

  .main {
    padding: 2rem;
    background-size: 100%;
  }

  .main .headTop {
    /* padding: 1.5rem; */
    font-size: unset;
    align-items: stretch;
  }

  .main .info {
    font-size: unset;
    align-items: stretch;
    font-size: 18px;
  }

  .main .skills {
    order: 1;
  }

  .main .summary {
    order: 2;
  }

  .main .instruction {
    order: 2;
  }
}

@media (prefers-color-scheme: dark) {
  /* .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  } */
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
